{% extends 'base.html'%}


{% block content%}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About us..</h1>
                <p class="lead fw-normal text-white-50 mb-0">To G.O.L.I.A.T.H</p>
            </div>
        </div>
    </header>

    <div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed beatae officia quo veritatis expedita molestias optio ratione! Voluptate ea ipsam voluptates velit, eius fuga consectetur architecto excepturi et placeat. Totam ipsam atque deleniti tenetur eos praesentium asperiores blanditiis officia id. Ipsum perspiciatis iure itaque voluptatem recusandae fugiat quas debitis temporibus cumque, iusto aut commodi necessitatibus aliquam, amet eaque nemo vitae eius. Dicta eveniet consequuntur hic molestiae magnam molestias eligendi officiis quae, dolore perferendis numquam, sit veritatis aperiam! Asperiores recusandae ex enim consequuntur quidem, officiis beatae perferendis! Minus at sapiente, praesentium animi suscipit optio facilis sed adipisci deleniti. Adipisci, fuga veniam?</p>

    </div>
{% endblock %}
